<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Not found</title>
    <link rel="stylesheet" href="/css/404CSS.css">
  
</head>
<body>
   
    <div class="gen">
        <div class="left">
            <img src="/images/logo.jpg" alt="Shop logo" id="im">
            <h1 id="logo">MINIM</h1>
            <p id="logo2">Electronic Devices</p>
        </div>

        <div class="right">
            <h1 id="re">Oops!</h1>
            <h3 id="in">We can not find the page you are looking for.</h3>
            <button id="H" onclick="location.href='/';">Home page</button>
           
        </div>
    </div>
</form>
</body>
</html>